<div class="col-6 col-md-4 col-lg-3 mb-4">
    <div class="card h-100">
        <div class="card-img-top p-4" style="background-color: #88888822">
            <img src="/thumbnail/${id}" class="w-100" alt="${title}">
        </div>
        <div class="card-body">
            <h5 class="card-title">${title}</h5>
            <p class="card-text">${size}${sizeSuffix}</p>
            <a href="/${downloadType}/${id}/${name}${nameSuffix}" class="btn btn-primary">Download</a>
        </div>
    </div>
</div>
